#### Question 1
Import pandas, read the CSV file titled "laptops.csv", and display the dataframe.

In [3]:
import pandas as pd
laptops = pd.read_csv('laptops.csv')
laptops

,Manufacturer,Screen,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Acer,IPS Panel,35.56,1.6,8,256,1.6,978
1,Dell,Full HD,39.624,2.0,4,256,2.2,634
2,Dell,Full HD,39.624,2.7,8,256,2.2,946
3,Dell,IPS Panel,33.782,1.6,8,128,1.22,1244
4,HP,Full HD,39.624,1.8,8,256,1.91,837
...,...,...,...,...,...,...,...,...
233,Lenovo,IPS Panel,35.56,2.6,8,256,1.7,1891
234,Toshiba,Full HD,33.782,2.4,8,256,1.2,1950
235,Lenovo,IPS Panel,30.48,2.6,8,256,1.36,2236
236,Lenovo,Full HD,39.624,2.5,6,256,2.4,883
237,Toshiba,Full HD,35.56,2.3,8,256,1.95,1499

#### Question 2
Display only rows 102 through, and including, 112.

In [217]:
laptops.loc[102:112, :]

,Manufacturer,Screen,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
102,Lenovo,IPS Panel,38.1,1.8,8,256,2.1,1350.9738
103,Lenovo,IPS Panel,35.56,2.5,8,256,1.9,1030.9608
104,Acer,Full HD,39.624,2.8,8,256,2.5,966.0933
105,Dell,Full HD,39.624,2.5,4,256,2.3,658.1889
106,HP,Full HD,35.56,2.5,8,256,1.43,1647.6345
107,Lenovo,IPS Panel,35.56,1.8,8,256,1.75,1335.4056
108,HP,Full HD,39.624,2.9,8,256,2.31,1568.0637
109,Dell,Full HD,35.56,2.8,8,256,1.6,1207.4004
110,Lenovo,IPS Panel,33.02,2.7,8,256,1.4,1109.6667
111,Lenovo,IPS Panel,35.56,2.7,4,128,1.7,658.1889
112,Asus,Full HD,39.624,2.5,4,256,2,614.0790

#### Question 3
Display only the manufacturer, RAM, and price for each row.

In [56]:
laptops [['Manufacturer', 'RAM_GB', 'Price' ]]

    Manufacturer  RAM_GB  Price
0           Acer       8    978
1           Dell       4    634
2           Dell       8    946
3           Dell       8   1244
4             HP       8    837
..           ...     ...    ...
233       Lenovo       8   1891
234      Toshiba       8   1950
235       Lenovo       8   2236
236       Lenovo       6    883
237      Toshiba       8   1499

[238 rows x 3 columns]

#### Question 4
What is the median RAM size of the laptops in this dataset?

In [54]:
laptops['RAM_GB'].median()

8.0

#### Question 5
Sort the dataset by manufacturer alphabetically.

In [60]:
laptops.sort_values(by=['Manufacturer'], ascending = True)

,Manufacturer,Screen,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Acer,IPS Panel,35.56,1.6,8,256,1.6,978
71,Acer,IPS Panel,38.1,1.8,8,256,3,1208
65,Acer,IPS Panel,43.18,2.7,4,256,3,892
62,Acer,IPS Panel,38.1,2.5,8,256,2.5,1075
58,Acer,Full HD,39.624,2.7,8,256,2.2,1057
...,...,...,...,...,...,...,...,...
171,Toshiba,IPS Panel,33.02,2.5,8,256,1.5,1236
122,Toshiba,IPS Panel,33.02,2.5,8,256,1.05,2124
224,Toshiba,IPS Panel,38.1,2.6,16,256,2.4,2509
237,Toshiba,Full HD,35.56,2.3,8,256,1.95,1499
212,Xiaomi,IPS Panel,33.02,2.3,8,256,1.28,1188

#### Question 6
Display the 10 cheapest laptops.

In [71]:
laptops_ch = laptops.sort_values(by=['Price'], ascending = True)
laptops_ch.head(10)

,Manufacturer,Screen,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
12,Asus,Full HD,39.624,2.0,4,256,2,527
11,HP,Full HD,39.624,2.0,4,128,1.91,558
25,Dell,Full HD,39.624,2.0,4,256,2.2,616
1,Dell,Full HD,39.624,2.0,4,256,2.2,634
141,Lenovo,Full HD,39.624,2.0,4,128,2.2,634
183,HP,Full HD,39.624,2.0,8,256,1.86,685
98,Lenovo,IPS Panel,33.02,2.4,4,128,1.5,697
112,Asus,Full HD,39.624,2.5,4,256,2,710
154,Dell,Full HD,39.624,2.5,4,128,2.18,723
36,Acer,Full HD,39.624,2.7,4,256,2.2,727

#### Question 7
Display the 10 most expensive laptops.

In [75]:
laptops_ch = laptops.sort_values(by=['Price'], ascending = False)
laptops_ch.head(10)

,Manufacturer,Screen,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
64,Asus,Full HD,43.942,2.9,16,256,3.6,3810
144,Lenovo,IPS Panel,43.18,2.8,8,256,3.4,3810
77,Dell,Full HD,43.942,2.9,16,256,3.42,3665
159,Razer,Full HD,35.56,2.8,16,256,1.95,3301
180,HP,Full HD,39.624,2.8,16,256,2.6,3073
121,Dell,Full HD,39.624,2.8,8,256,1.78,3059
99,Dell,IPS Panel,38.1,2.7,8,256,2,2712
119,Lenovo,Full HD,39.624,2.9,8,256,2.67,2655
192,HP,Full HD,39.624,2.8,8,256,3.14,2623
224,Toshiba,IPS Panel,38.1,2.6,16,256,2.4,2509

#### Question 8
Display the average price for each manufacturer.

In [111]:

laptops.groupby('Manufacturer') ['Price'].mean().to_frame()

                    Price
Manufacturer
Acer          1067.157895
Asus          1327.111111
Dell          1495.084507
HP            1399.285714
Huawei        1714.000000
Lenovo        1493.096154
MSI           1452.750000
Razer         3301.000000
Samsung       2107.400000
Toshiba       1703.882353
Xiaomi        1188.000000

#### Question 9
Create a pivot table of the average price broken down by manufacturer and RAM size.

In [91]:
laptops_pivot = pd.pivot_table (
    laptops, 
    index = 'RAM_GB', 
    columns = 'Manufacturer', 
    values = 'Price', 
    aggfunc = 'mean'
)
laptops_pivot

Manufacturer,Acer,Asus,Dell,HP,Huawei,Lenovo,MSI,Razer,Samsung,Toshiba,Xiaomi
RAM_GB,,,,,,,,,,,
4,863.200000,618.500000,796.375000,1012.444444,NaN,850.285714,NaN,NaN,NaN,1518.000000,NaN
6,NaN,733.000000,NaN,811.500000,NaN,873.333333,NaN,NaN,NaN,NaN,NaN
8,1100.769231,1293.428571,1520.157895,1479.918919,1714.0,1639.325000,1452.75,NaN,2031.0,1672.928571,1188.0
12,NaN,NaN,NaN,NaN,NaN,2125.000000,NaN,NaN,NaN,NaN,NaN
16,1650.000000,3810.000000,2188.500000,3073.000000,NaN,1371.000000,NaN,3301.0,2222.0,2509.000000,NaN

#### Question 10
Assume that the price in this dataset is in US dollars. Create a new column that represents the price of these laptops in Euros. Assume that 1 USD is equivalent to 0.93 Euros. Add this column to the dataframe.

In [212]:
def convert (price): 
    price = price * 0.93
    return float(price)
laptops ['Price'] = laptops ['Price'].apply(convert)

#### Question 11
Read the CSV file titled "laptops_wrong.csv" and display the dataframe.

In [94]:
laptops_2 = pd.read_csv('laptops_wrong.csv')
laptops_2

,Manufacturer,Screen,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Acer,IPS Panel,35.56,1.6,8.0,256,1.6,978
1,Dell,Full HD,39.624,2.0,4.0,256,2.2,634
2,Dell,Full HD,39.624,2.7,8.0,256,2.2,946
3,Dell,IPS Panel,33.782,1.6,8.0,128,1.22,1244
4,HP,Full HD,39.624,1.8,8.0,256,1.91,837
...,...,...,...,...,...,...,...,...
235,Lenovo,IPS Panel,35.56,2.6,8.0,256,1.7,1891
236,Toshiba,Full HD,33.782,2.4,8.0,256,1.2,1950
237,Lenovo,IPS Panel,30.48,2.6,8.0,256,1.36,2236
238,Lenovo,Full HD,39.624,2.5,6.0,256,2.4,883
239,Toshiba,Full HD,35.56,2.3,8.0,256,1.95,1499

#### Question 12
Check for duplicate rows. If you find any, drop them from the dataset.

In [117]:
laptops_2[laptops_2.duplicated()]
laptops_2.drop_duplicates (inplace = False)

,Manufacturer,Screen,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Acer,IPS Panel,35.56,1.6,8.0,256,1.6,978
1,Dell,Full HD,39.624,2.0,4.0,256,2.2,634
2,Dell,Full HD,39.624,2.7,8.0,256,2.2,946
3,Dell,IPS Panel,33.782,1.6,8.0,128,1.22,1244
4,HP,Full HD,39.624,1.8,8.0,256,1.91,837
...,...,...,...,...,...,...,...,...
235,Lenovo,IPS Panel,35.56,2.6,8.0,256,1.7,1891
236,Toshiba,Full HD,33.782,2.4,8.0,256,1.2,1950
237,Lenovo,IPS Panel,30.48,2.6,8.0,256,1.36,2236
238,Lenovo,Full HD,39.624,2.5,6.0,256,2.4,883
239,Toshiba,Full HD,35.56,2.3,8.0,256,1.95,1499

#### Question 13
Display all of the missing values in this new dataframe.

In [119]:
laptops_2.isna().sum()

Manufacturer        0
Screen              0
Screen_Size_inch    0
CPU_frequency       0
RAM_GB              3
Storage_GB_SSD      0
Weight_kg           0
Price               0
dtype: int64

#### Question 14
Drop these rows with missing data that you found in the previous question.

In [137]:
laptops_2.dropna (subset= 'RAM_GB', inplace = True)

In [139]:
laptops_2.isna().sum()

Manufacturer        0
Screen              0
Screen_Size_inch    0
CPU_frequency       0
RAM_GB              0
Storage_GB_SSD      0
Weight_kg           0
Price               0
dtype: int64

#### Question 15
Check for typos in the manufacturer and screen columns.

In [143]:
laptops_2['Manufacturer'].value_counts()

Manufacturer
Dell       70
Lenovo     53
HP         48
Acer       19
Asus       17
Toshiba    17
Samsung     5
MSI         4
Huawei      1
Del         1
Razer       1
Xiaomi      1
Name: count, dtype: int64

In [147]:
laptops_2 ['Screen_Size_inch'].value_counts()

Screen_Size_inch
39.624    89
35.56     64
38.1      22
33.02     20
33.782    19
43.942     7
43.18      4
31.75      4
30.48      4
?          4
Name: count, dtype: int64

#### Question 16
Fix the typos found in the previous question.

In [145]:
laptops_2 ['Manufacturer'] = laptops_2 ['Manufacturer'].replace ('Del', 'Dell')

#### Question 17
Fix any non-numeric values in the screen size and weight columns so that they register as missing values (None or NaN).

In [152]:
laptops_2 ['Screen_Size_inch'] = laptops_2 ['Screen_Size_inch'].replace ('?', None)

In [158]:
laptops_2 ['Weight_kg'] = laptops_2 ['Weight_kg'].astype('float64')

ValueError: could not convert string to float: '?'

In [160]:
laptops_2 ['Weight_kg'] = laptops_2 ['Weight_kg'].replace ('?', None)

#### Question 18
Convert the data types of the screen size and weight columns so that they are floats. Then, replace their missing values with average of each respective column.

In [164]:
laptops_2 ['Screen_Size_inch'] = laptops_2 ['Screen_Size_inch'].astype('float64')
laptops_2 ['Weight_kg'] = laptops_2 ['Weight_kg'].astype('float64')

In [166]:
n = laptops_2['Screen_Size_inch'].mean()
laptops_2.fillna({'Screen_Size_inch':n}, inplace = True)

In [168]:
n2 = laptops_2['Weight_kg'].mean()
laptops_2.fillna({'Weight_kg':n2}, inplace = True)